#formCadastro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formContainer {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
}
